/*{
    outline: 1px solid pink;
}*/
/*--------------------------------------clases----generales--------*/
body{
    margin: 0;
    padding: 0;
}
body p{
  font-size: 16px; 
  margin-top: 22px;
}
body h2 {
  font-family:"Merriweather";
   
}
body h4{
    font-family:"Merriweather"; 
}
header ,.tres , footer{
    background:  #da2c38;
    color:  #fbff90;
    text-align: center;
}
.dos , .cuatro{
    background: #fbff90; 
    color:  #da2c38;
    text-align: center;
}

/*-------------------------------------header--menu---------*/
header .cinco{
    color: #f4f0bb;
    margin-top:30px;
    font-size: 25px;
    font-family:"Merriweather";
}
nav li a{
    font-family:"Merriweather";
    margin: 15px;
	display: block;
	padding: 10px 15px;
	transition: all 0.s;
	border-radius: 6px;
    font-size:18px;
    color:  #f4f0bb;
}
nav li a:hover, nav li a:focus, nav li a:active{
	text-decoration: none;
	outline: none;
	background:rgba(230, 239, 161, 0.68);
    color: white;
}
#main-navigation{
    z-index:503;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul{
	background: rgba(41, 35, 37, 0.69);
	list-style: none;
	padding: 10px;
    border-radius: 5px;
}
/*-----------------------------------------section----------------------------*/
.uno{
    background-image: url(../img/creamy.jpg);
    background-position: center;
}
.fondo{
    background-color: rgba(0, 0, 0, 0.6);
}
.uno .text-center{
    margin: 20%;
    color: #fbff90;
    font-family:"Merriweather"; 
}

/*-----------------------------------section----dos-----oh----soooo--*/
.dos {
    padding:40px;
}
.dos h1{
    font-family:"Merriweather";
}

/*-----------------------------section------tres------about--------*/
.tres .text-center {
    margin: 60px;
}

/*--------------------------------------section---cuatro---iconos---*/
.cuatro{
    padding: 20px 0;
}
.cuatro i{
    font-size:120px;
}
.cuatro h4{
    font-size: 25px;
}
/*----------------------------------footer------*/
footer{
    text-align: left;
    font-size: 16px;
    padding: 20px 0;
    margin: 0;
}
@media screen and (max-width:999px) and (min-width:768px)
{
    header .cinco{
        font-size: 20px;
    }
    
    .dos{
        padding: 0;
    }
}
@media screen and (max-width:667px) and (min-width:375px){
    .cinco{
        margin-top: 0;
    }
    .dos p {
        font-size: 14px;
    }
    .tres p{
        font-size: 14px;
    }
    .tres  .text-center{
        margin: 0;
        padding: 0;
    }
}

